
// Reset

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%; //..................... 10px (10/16*100)
    -webkit-font-smoothing: antialiased;
}

.container {
    width:1280px;
    margin:0 auto;
}

ul ul, ol ol, ul ol, ol ul { font-size: 100%; }

.shaded {
    background:#e9eaed;
}

.clear {
    clear:both;
}

.content {

    &#home-scroll {
        padding-top: 225px;
    }
}

div::after, 
fieldset::after {
    content: '';
    display: table;
    clear: both;
}

*[hidden] { display: none !important; }

// Embedded fonts

@font-face {
    font-family: 'Moon Flower';
    src: url( '../fonts/MoonFlower.ttf' ) format( 'ttf' );
}

@font-face {
    font-family: 'Nevis';
    src: url( '../fonts/nevis.ttf' ) format( 'ttf' );
}

@font-face {
    font-family: 'Oxygen';
    src: url( '../fonts/Oxygen.otf' ) format( 'otf' );
}

// Typography

body {
    color: #222326;
    font-family:'Lato', 'Arial', 'Helvetica', sans-serif;
    font-weight: 500;
}

h1, h2, h3 {
    font-family: 'Lato', Arial, Verdana, serif;
    line-height: 1.2;
    margin-bottom: 5px;
}

h1 {
    font-size: 60px;
    margin-top:20px;
}

h2 {
    color: #202123;
    font-size: 40px;
    margin-top: 20px;
}

h3 {
    color: #202123;
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

p.big {
    font-size: 30px;
}

p.med {
    font-size: 14px;
    line-height: 1.2;
}

p.small {
    color: #858B92;
    font-size: 12px;
    line-height: 1.6;

    small { font-size: 100% }
}

p.right {
    text-align: right;
}

ul, ol { margin-left: 10px }
ul { list-style-type: none }
ol { list-style-type: decimal }

hr {
    border: 0;
    border-bottom: 1px solid #D7DBE3;
    clear: both;
    height: 0;
    margin: 40px 0;
}


.no-margin-bottom {
    margin-bottom: 0 !important;
}

// Inline typography

a {
    color: #0082B5;
    text-decoration: none;
}
