// Core Rubber Duck Hosting Colors

$white: #fff;
$black: #000;
$light-grey:#fafafa;
$dark-grey: #404040;

$duckyellow: #fad243;
$duckgreen: #50bbb3;
$duckred: #ee5f63;
$duckblue: #12b3cf;

$darkblue: #222d39;